<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Agendamento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Detalhes do Agendamento</h2>

        {% if agendamento %}
            <div class="agendamento-details">
                <p><strong>ID:</strong> {{ agendamento.id }}</p>
                <p><strong>Cliente:</strong> {{ agendamento.cliente_id }} - {{ agendamento.cliente_nome }}</p>
                <p><strong>Serviço:</strong> {{ agendamento.servico_id }} - {{ agendamento.servico_nome }}</p>                              
                <p><strong>Data e Hora:</strong> {{ agendamento.data_hora.strftime('%d/%m/%Y %H:%M') }}</p>
                <p><strong>Recorrência:</strong> {{ agendamento.recorrencia or 'Nenhuma' }}</p>
                <p><strong>Status:</strong> {{ agendamento.status }}</p>
                <p><strong>Observações:</strong> {{ agendamento.observacoes}}</p>
            </div>
        {% else %}
            <p>Agendamento não encontrado.</p>
        {% endif %}

        <div class="buttons">
            <!-- Redireciona para a página de confirmação -->
            <a href="{{ url_for('bp_agendamentos.deletar_agendamento', id_agendamento=agendamento.id) }}" class="btn btn-danger">
                <button>Excluir Agendamento</button>
            </a>

            <a href="{{ url_for('bp_agendamentos.get_agendamentos') }}">
                <button>Voltar para a Lista de Agendamentos</button>
            </a>
        </div>
    </div>
</body>
</html>
