<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Lista de Usuários</h2>

        <div class="buttons">
            <a href="{{ url_for('usuarios_bp.novo_usuario_form') }}"><button>Adicionar Novo Usuário</button></a>
            <a href="{{ url_for('main_bp.index') }}"><button>Voltar ao Início</button></a>
        </div>

        {% if usuarios %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>CPF</th>
                        <th>Data de Nascimento</th>
                        <th>Endereço</th>
                        <th>Ajustes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                        <tr>
                            <td>{{ usuario['id'] }}</td>
                            <td>{{ usuario['nome'] }}</td>
                            <td>{{ usuario['telefone'] }}</td>
                            <td>{{ usuario['cpf'] }}</td>
                            <td>{{ usuario['data_nascimento'] }}</td>
                            <td>{{ usuario['endereco'] }}</td>
                            <td>
                                </a>
                                <a href="{{ url_for('usuarios_bp.editar_usuario_form', id=usuario['id']) }}">
                                    <button>Editar</button>
                                </a>
                                <form action="{{ url_for('usuarios_bp.deletar_usuario_por_id', id=usuario['id']) }}" method="POST">
                                    <button type="submit" onclick="return confirm('Tem certeza que deseja deletar este usuário?')">Excluir</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nenhum usuário encontrado.</p>
        {% endif %}

    </div>
</body>
</html>
